body {
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
	font-family: "Arial";
}

.title {
	padding-left: 15px;
	font-size: 72pt;
}

.content {
	margin: 0 15%;
	color: grey;
	font-size: 18pt;
}

.action {
	padding-top: 20px;
	color: white;
	font-size: 18pt;
}

.choices {
	margin-top: 20px;
	margin-left: 30%;
	padding: 10px 10px;
	display: inline-block;
	background-color: darkred;
	font-size: 20pt;
}

.choices button {
	margin: 3px 0px;
	padding: 5px 5px;
	width: 100%;
	display: block;
	background-color: red;
	border: none;
	color: white;
	text-decoration: none;
	font-size: 16pt;
}

.choices button:hover {
	background-color: #F36F6F;
	cursor: pointer;
}
